.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store
*.log

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr


